<form action="/restaurants/{{ restaurantlists._id }}?_method=PUT" method="POST">
  <div class="container">
    <input class="d-block m-3 form-control" type="text" placeholder="名稱" name="name" value="{{restaurantlists.name}}">
    <input class="d-block m-3 form-control" type="text" placeholder="英文名稱 " name="nameEn"
      value="{{restaurantlists.nameEn}}">
    <input class="d-block m-3 form-control" type="text" placeholder="餐廳種類" name="category"
      value="{{restaurantlists.category}}">
    <input class="d-block m-3 form-control" type="text" placeholder="圖片來源" name="image"
      value="{{restaurantlists.image}}">
    <input class="d-block m-3 form-control" type="text" placeholder="地址" name="location"
      value="{{restaurantlists.location}}">
    <input class="d-block m-3 form-control" type="text" placeholder="電話" name="phone" value="{{restaurantlists.phone}}">
    <input class="d-block m-3 form-control" type="text" placeholder="google map" name="google_map"
      value="{{restaurantlists.google_map }}">
    <input class="d-block m-3 form-control" type="number" placeholder="評分" name="rating"
      value="{{restaurantlists.value}}">
    <input class="d-block m-3 form-control" type="text" placeholder="描述" name="description"
      value="{{restaurantlists.description}}">
    <button type="submit" class="btn btn-primary m-2">Save</button>
    <a href="/">Back</a>
  </div>
</form>